<ul>
<% @recipes.each do |recipe|%>
  <li>
    <a href="/recipes/<%= recipe.id %>">Name: <%= recipe.name %></a>
    <br>
    <a>Ingredients: <%= recipe.ingredients %></a>
    <br>
    <a>Cook time: <%= recipe.cook_time %></a>
  </li>
<% end %>
</ul>